/* General Responsive Adjustments */
@media (max-width: 1300px) {
    .hero-section h1 {
        font-size: 38px;
    }

    .hero-section .hero-text p {
        font-size: 23px;
    }

    .hero-section .hero-features .feature-item {
        padding: 8px 3px;
    }

    .hero-section .hero-features p {
        font-size: 14px;
    }

    .core-values-section .text-content {
        margin-left: 30px;
    }

    .partnership-section .partnership-title {
        font-size: 37px;
    }

    .partnership-section .partnership-desc {
        font-size: 22px;
    }

    .feature-item .feature-card {
        margin: 0;
    }

    .process-guide-section .process-guide-title {
        font-size: 37px;
    }

    .process-guide-section .process-guide-text-small {
        font-size: 22px;
    }

    .process-arrow {
        width: 100px;
    }

    .footer a {
        font-size: 17px;
    }
}

@media (max-width: 1200px) {
    .hero-section h1 {
        font-size: 30px;
        line-height: 40px;
        margin: 5px 20px;
    }

    .hero-section .hero-text p {
        font-size: 20px;
        line-height: 35.77px;
    }
    .hero-section .hero-features .feature-item {
        padding: 10px;
    }
    .hero-section .hero-features p {
        font-size: 12px;
    }
    .hero-section .hero-button {
        padding: 10px 20px;
        font-size: 12px;
    }
    .hero-section .trustpilot {
        line-height: 35px;
        margin-top: 20px !important;
    }
    .hero-section .trustpilot p:first-child {
        font-size: 14px;
    }
    .hero-section .trustpilot p {
        font-size: 13px;
    }

    .intro-section .intro-item {
        margin: 30px 0px;
        padding: 5px 35px;
    }

    .intro-section .intro-item p {
        font-size: 15px;
    }
    .intro-section .intro-number {
        font-size: 40px;
    }

    .overlapping-text {
        bottom: 65%;
    }
    .overlapping-text h2 {
        font-size: 30px;
        padding: 10px 16px;
    }

    .core-values-section .text-content {
        margin-left: 25px;
    }

    .core-values-section h5 {
        font-size: 15px;
    }

    .core-values-section p {
        font-size: 13px;
    }

    .partnership-section .partnership-title {
        font-size: 35px;
    }

    .partnership-section .partnership-desc {
        font-size: 18px;
    }

    .partnership-section .partnership-img-main {
        width: 566px;
    }

    .partnership-section .logo-img {
        width: 173px;
    }

    .testimonial-section .testimonial-avatar {
        width: 400px;
    }

    .quote-box h5 {
        font-size: 27px;
    }

    .testimonial-text {
        font-size: 19px;
    }

    .quote-open,
    .quote-close {
        width: 50px;
    }

    .features-and-offering-title {
        font-size: 34px;
    }

    .process-guide-section .process-guide-title {
        font-size: 35px;
    }

    .process-guide-section .process-guide-text-small {
        font-size: 18px;
    }

    .step-number {
        font-size: 22px;
        width: 50px;
        height: 50px;
    }

    .step-title {
        font-size: 17px;
        width: 100%;
    }

    .step-description {
        font-size: 0.8rem;
    }

    .process-arrow {
        width: 74px;
    }

    .global-presence-section h2 {
        font-size: 35px;
    }

    .footer a {
        font-size: 13px;
    }

    .footer .phone-number {
        margin-right: 50px;
    }

    .footer .text-copyright {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .hero-section h1 {
        font-size: 28px;
        line-height: 44px;
        margin: 0;
    }

    .hero-section .hero-features .border-right-active {
        padding-right: 8px;
    }

    .hero-section .hero-text p {
        font-size: 17px;
        line-height: 18.77px;
    }

    .hero-section .hero-features .feature-item {
        padding: 5px;
    }
    .hero-section .hero-features .feature-item img {
        width: 20px !important;
        height: 20px !important;
    }
    .hero-section .hero-features p {
        font-size: 12px;
    }

    .intro-section .intro-item {
        margin: 20px 0px;
        padding: 4px 0px;
    }

    .intro-section .intro-item p {
        font-size: 16px;
    }
    .intro-section .intro-number {
        font-size: 30px;
    }

    .overlapping-text h2 {
        font-size: 20px;
        padding: 8px 14px;
        line-height: 30px;
    }

    .core-values-section .text-content {
        margin-top: 40%;
    }
    .core-values-section .text-content {
        margin-left: 25px;
    }

    .core-values-section {
        margin: 0 auto;
        max-width: 1500px;
        padding: 20px 30px;
    }

    .overlapping-text {
        bottom: 71%;
    }
    .core-values-section h5 {
        font-size: 15px;
    }

    .core-values-section p {
        font-size: 13px;
    }

    .partnership-section .partnership-title {
        font-size: 27px;
    }

    .partnership-section .partnership-desc {
        font-size: 16px;
    }

    .partnership-section .partnership-img-main {
        width: 445px;
    }

    .partnership-section .logo-img {
        width: 123px;
        margin: 0px 8px;
    }

    .testimonial-section .testimonial-avatar {
        width: 299px;
    }

    .quote-box h5 {
        font-size: 23px;
    }

    .testimonial-text {
        font-size: 17px;
    }

    .quote-open,
    .quote-close {
        width: 35px;
    }

    .features-and-offering-title {
        font-size: 30px;
        margin-bottom: 20px !important;
    }

    .process-guide-section .process-guide-title {
        font-size: 25px;
    }

    .process-guide-section .process-guide-text-small {
        font-size: 17px;
        padding: 0 37px;
    }

    .step-number {
        font-size: 22px;
        width: 50px;
        height: 50px;
    }

    .step-title {
        font-size: 17px;
    }
    .step-description {
        font-size: 0.7rem;
        padding: 0;
    }

    .process-arrow {
        width: 74px;
    }

    .global-presence-section h2 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .logo {
        width: 83px;
    }
    .hero-section h1 {
        font-size: 24px;
        line-height: 43px;
    }

    .hero-section .hero-text p {
        font-size: 16px;
        line-height: 31.77px;
    }

    .hero-section .trustpilot p:first-child,
    .hero-section .trustpilot p {
        font-size: 14px;
    }

    .hero-section .trustpilot img {
        width: 100px;
    }

    .hero-section .hero-button {
        padding: 7px 16px;
        font-size: 15px;
    }

    .hero-section .hero-features .border-right-active {
        border: none;
    }

    .hero-section .hero-features .feature-item {
        padding: 5px;
    }
    .hero-section .hero-features p {
        font-size: 16px;
    }

    .intro-section .intro-item p {
        font-size: 21px;
        margin: 0;
    }
    .intro-section .intro-number {
        font-size: 40px;
    }

    .overlapping-text h2 {
        font-size: 20px;
        padding: 8px 14px;
        line-height: 30px;
    }

    .overlapping-text {
        left: 25%;
    }
    .core-values-section .text-content {
        margin-top: 5%;
    }

    .overlapping-text {
        bottom: 86%;
    }
    .core-values-section h5 {
        font-size: 20px;
    }

    .core-values-section p {
        font-size: 17px;
    }

    .partnership-section {
        padding: 10px 0px !important;
    }
    .partnership-section .partnership-title {
        font-size: 33px;
        text-align: center;
        margin-bottom: 10px !important;
    }

    .partnership-section .partnership-desc {
        font-size: 21px;
        padding: 0px 92px;
        text-align: center;
    }

    .quote-box h5 {
        font-size: 26px;
    }
    .quote-box {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .testimonial-text {
        font-size: 17px;
        line-height: 37px;
    }

    .quote-open,
    .quote-close {
        width: 25px;
    }
    .step-title {
        margin: 0px 20px;
        font-size: 23px;
        text-align: center;
    }

    .step-description {
        font-size: 15px;
        /* padding: 6px 70px 40px 70px; */
        text-align: center;
    }

    .process-guide-section {
        padding: 12px 0px !important;
    }
    .process-step {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 567px) {
    .hero-section .hero-features {
        margin: 0px 50px;
    }

    .overlapping-text {
        display: none;
    }

    .partnership-section .partnership-title {
        font-size: 27px;
    }

    .partnership-section .partnership-desc {
        padding: 0px 25px;
    }

    .quote-box {
        padding: 10px !important;
    }

    .features-and-offering-title {
        margin-bottom: 0 !important;
    }

    .feature-item .feature-card img {
        width: 350px;
    }
    .core-values-section {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .overlapping-text {
        display: none;
    }
}
